<main class="max-w-2xl mx-auto p-4">
  <h1 class="text-2xl font-bold mb-4">Task Manager</h1>

  <!-- Add Task Button -->
  <button type="button" class="bg-blue-500 hover:bg-blue-700 text-dark py-2 px-4 rounded" (click)="openCreateModal()">+
    Add Task</button>

  <!-- Task Filter -->
  <app-task-filter class="mb-2 block"></app-task-filter>

  <!-- Other components -->
  <app-task-list></app-task-list>
</main>

<app-confirm-modal></app-confirm-modal>
<app-task-form-modal></app-task-form-modal>
<app-notification></app-notification>
<app-loader></app-loader>